"*":
  welcome:
    showOnStartup: false
  metrics:
    userId: "c74e2c32ee8aaa49f6743ffcd8006a56352a5174"
  editor:
    invisibles: {}
    showInvisibles: true
  core:
    disabledPackages: [
      "welcome"
      "snippets"
      "metrics"
      "archive-view"
      "background-tips"
    ]
  autosave:
    enabled: true
  "tree-view":
    hideVcsIgnoredFiles: false
  "exception-reporting":
    userId: "e02dbc47-8e2e-df90-96fd-4c37f32c99df"
